#POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

#PG ADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

DJANGO_SECRET_KEY=
USE_DOCKER=

DJANGO_SETTINGS_MODULE=config.settings