{% extends "admin/base.html" %}

{% block extrastyle %}
<style>
  :root {
    --primary-color: rgb(0 92 172);
    --primary-color-faded: rgb(0 92 172);
    --secondary-color: rgb(0 92 172);
    --button-color: rgb(0 92 172);
    --button-secundary-color: rgb(0 92 172);
  }

  ::selection {
    background: var(--secondary-color);
    color:var(--primary-color);
    opacity:1
  }

  ::-moz-selection {
    background: var(--secondary-color);
    color:var(--primary-color);
    opacity:1
  }
  body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
  }
  #header {
    background: #f1f1f1;
  }
  .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light{
    color: var(--primary-color-faded);
  }
  #user-tools{
    background-color: var(--primary-color-faded);
    padding: 16px;
    border-radius: 12px;
  }
  .module h2, .module caption, .inline-group h2 {
    background-color: var(--primary-color-faded);
  }
  div.breadcrumbs {
    background: var(--primary-color-faded);
  }
  a:link, a:visited {
    color: var(--primary-color-faded);
  }
  .object-tools a:focus, .object-tools a:hover{
    background-color: var(--primary-color);
  }
  .selector-chosen h2 {
    background: var(--primary-color-faded) !important;
  }
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--button-color);
  }
  .button.default, input[type=submit].default, .submit-row input.default {
    background: var(--primary-color);
  }
  .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: var(--button-secundary-color);
    opacity: 0.8;
  }
  .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: var(--primary-color);
    opacity: 0.8;
  } 
  #header{
    padding: 25px 40px;
  }
  #branding img{
    width: 100%;
    height: 45px;
    object-fit: contain;
    border-radius: 33px;
    overflow: initial;
  }
</style>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Projetos Rápidos') }}{% endblock %}

{% block branding %}

{% load static %} <img width="400" height="172" src="{% static 'logo-projetos-rapidos.svg' %}" alt="Projetos Rápidos" />

{% endblock %}

{% block nav-global %}{% endblock %}

{% block dark-mode-vars %}
{{ block.super }}
{% include "admin/color_theme_dark_mode.html" %}
{% endblock %}

{% block userlinks %}
{{ block.super }}
{% include "admin/color_theme_toggle.html" %}
{% endblock %}